div.footer {
    position:relative;
    vertical-align: bottom;
    text-align: center;
    text-decoration: none;
    color: darkgray;
    padding: 10px;
  }
  a:link {
    color: darkgray;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
      color: black;
    background-color: transparent;
  }
  
  a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }

  img {
    width: 100%;
}
.styled-table {

color: black;
margin-top: 20px;
margin-bottom: 30px;
border: solid 1px cornflowerblue;
border-collapse: collapse; /* Ensures borders don't double up */
}

.styled-table th,
.styled-table td {
padding: 1px 10px ;
border: 1px solid cornflowerblue;
}

.mycontainer {
  display: flex;
  flex-wrap: wrap;
}
.column {
  padding: 20px;
  box-sizing: border-box;
  margin-left: 2%;
}
.column-left {
  flex: 0 0 265px;
  max-width: 265px;
  background-color: #fff;
  margin-right: 2%;
  margin-left: 2%;
}
.column-right {
    flex: 0 0 75%;
    max-width: 75%;
    background-color: #fff;
}

 .profilepic{
  width: 250px; 
  border-radius: 250px;
}

@media (max-width: 600px) {
  .column-left,
  .column-right {
      flex: 0 0 100%;
      max-width: 100%;
      margin-right: 0
  }
  .profilepic{
  width: 250px; 
  border-radius: 250px;
  }
} 
